body {
	background: #dddddd;
}

.ui-mobile #jqm-homeheader {
	padding: 40px 10px 0;
	text-align: center;
	margin: 0 auto;
}

.ui-mobile #jqm-homeheader h1 {
	margin: 0 0;
}

.ui-mobile #jqm-homeheader p {
	margin: .3em 0 0;
	line-height: 1.3;
	font-size: .9em;
	font-weight: bold;
	color: #666;
}

.ui-mobile .jqm-themeswitcher {
	margin: 10px 25px 10px 10px;
}

h2 {
	margin-top: 1.5em;
}

p code {
	font-size: 1.2em;
	font-weight: bold;
}

dt {
	font-weight: bold;
	margin: 2em 0 .5em;
}

dt code,dd code {
	font-size: 1.3em;
	line-height: 150%;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

#jqm-homeheader img {
	width: 235px;
}

.ui-header .jqm-home {
	top: 0.65em;
}

nav {
	margin: 0;
}

p.intro {
	font-size: .96em;
	line-height: 1.3;
	border-top: 1px solid #75ae18;
	border-bottom: 0;
	background: none;
	margin: 1.5em 0;
	padding: 1.5em 15px 0;
}

p.intro strong {
	color: #558e08;
}

.footer-docs {
	padding: 5px 0;
}

.footer-docs p {
	float: left;
	margin-left: 15px;
	font-weight: normal;
	font-size: .9em;
}

.footer-docs .logoutButton {
	margin:8px 14px;
	float:right;
}

.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
	margin: 10px -15px 0;
	background: #fff;
	border-top: 1px solid #ccc;
}

.type-home .ui-content {
	margin-top: 5px;
}

.type-interior .ui-content {
	padding-bottom: 0;
}

.content-secondary .ui-collapsible-contain {
	padding: 10px 15px;
}

.content-secondary .ui-collapsible-heading {
	margin: 0 0 30px;
}

.content-secondary .ui-collapsible-heading-collapsed,.content-secondary .ui-collapsible-content
	{
	padding: 0;
	margin: 0;
}

/* F bar theme */
.ui-bar-f {
	border: 1px solid #56A00E;
	background: #74b042;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #234403;
	background-image: -moz-linear-gradient(top, #74b042, #56A00E);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #74b042),
		color-stop(1, #56A00E) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#81a8ce', EndColorStr='#5e87b0')";
}

.ui-bar-f,.ui-bar-f .ui-link-inherit {
	color: #fff;
}

.ui-bar-f .ui-link {
	color: #fff;
	font-weight: bold;
}

label.ui-select{
	display:inline-block;
	width:100%;
	margin:0 2% 0 0;
}

label.ui-label{
	display:inline-block;
	width:100%;
	margin:0 2% 0 0;
	}

.completion-green, .completion-red, .completion-orange {
	vertical-align: middle;
	text-align: center;
	display: block;
	font-size: 34px;
	float: left;
	width: 90px;
	padding-top: 5px;
}

.completion-green {
	color: #34ab03;
}
.completion-red {
	color: #d41603;	
}
.completion-orange {
	color: #FFAA00;	
}

.course-details {
	/*border-left: 1px solid #b3b3b3;*/
	float: left;
	margin-top: 5px;
	padding-left: 14px;
	font-size: 12px;
	font-weight: normal;	
}

.referrer-details {
	float: left;
	margin-top: 10px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: normal;	
	width: 250px;
}

.user-details-left{
	/*border-left: 1px solid #b3b3b3;*/
	float: left;
	margin-top: 6px;
	padding-right: 10px;
	font-size: 12px;
	font-weight: normal;	
}
.user-details-right {
	/*border-left: 1px solid #b3b3b3;*/
	float: right;
	margin-top: 6px;
	font-size: 12px;
	font-weight: normal;	
}
/* Color overrides, cannot use a different ui-body ident for ie9 */
.ui-content .ui-body {
	border:1px solid #b3b3b3;
	color:#333;
	text-shadow:0 1px 0 #fff;
	background-color: #c0e744;
	background-image: url(images/cornerWhite.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	border-radius: 0.6em;
}

.ui-content .ui-body .ui-select {
	width: 100%; 
}

.ui-content .ui-body .ui-input-search {
	width: 70%;
}

/****** search form modifications *****/

.ui-content .ui-body .user-search .ui-input-search, .ui-content .ui-body .course-search .ui-input-search {
	width: 55%;
}

.user-search .ui-checkbox, .referrer-search .ui-checkbox, .course-search .ui-checkbox {
	width: 90px;
	display: inline-block;
}

.user-search .ui-checkbox .ui-btn-corner-all, .referrer-search .ui-checkbox .ui-btn-corner-all, .course-search .ui-checkbox .ui-btn-corner-all {
	border: none;
}

.user-search .ui-checkbox .ui-btn-inner, .referrer-search .ui-checkbox .ui-btn-inner, .course-search .ui-checkbox .ui-btn-inner {
	padding-right: 0px;
}

/****** referrer search form modifications *****/
.ui-content .ui-body .referrer-search .ui-input-search {
	width: 40%;
}

/*********************************************/

.ui-body-login{
	margin-left: auto;
	margin-right: auto;
	width: 450px;
	border:1px solid #b3b3b3;
	color:#333;
	text-shadow:0 1px 0 #fff;
	background-color: #c0e744;
	background-image: url(images/cornerWhite.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	border-radius: 0.6em;
}

.ui-body-login .ui-checkbox{
	width: 50%;
	display: inline-block;
}


div input.ui-input-text-disabled{
	background: #bbbbbb;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.blockCenter {
	margin: 0 auto;	
}

.allowWrap {
	white-space:normal;	
}

.dataTable tr td, .dataTable tr th {
	font-size: 10px;
	font-weight: normal;
}

.dataTable tr th {
	align:right;	
}
/*************************
C theme modifications
*************************/
.ui-btn-up-c span.error, .ui-btn-hover-c span.error {
	color: #cc0000;
	font-weight:bold;
}

.ui-btn-up-c span.valid, .ui-btn-hover-c span.valid {
	color: #09B803;
	font-weight:bold;
}


/*************************
Y theme
*************************/
.ui-bar-y {
	border: 1px solid #005280;
	background: #024a73;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #234403;
	background-image: -moz-linear-gradient(top, #005280, #024a73);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #005280),
		color-stop(1, #024a73) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#81a8ce', EndColorStr='#5e87b0')";
}

/*************************
Z theme
*************************/
.ui-btn-up-z {
	border: 1px solid #d6e03d;
	background: #b9d43a;
	color: #ffffff;
	font-weight: bold;
	background-image: -moz-linear-gradient(top, #d6e03d, #b9d43a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d6e03d),
		color-stop(1, #b9d43a) );
}


/****************************
form elemets
*****************************/

input.ui-input-text, textarea.ui-input-text{

width: 50%;

}

.ui-controlgroup-controls  {
	width: 51%;	
}
/*****************************
 R theme
*****************************/

.ui-btn-up-r, .ui-btn-hover-r {
	border: 1px solid #ffbaba;
	background: #ffcfcf;
	color: #333;
	font-weight: bold;
	background-image: -moz-linear-gradient(top, #ffcfcf, #ff9292);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffcfcf),
		color-stop(1, #ff9292) );
}

.ui-btn-hover-r {
	border: 1px solid #ffbaba;
	background-image: -moz-linear-gradient(top, #FFC1B4, #FF9292);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFC1B4),
		color-stop(1, #FF9292) );
}

.ui-btn-up-r .ui-link, .ui-btn-hover-r .ui-link {
	color: #9e5459;
	font-weight:bold;
}

.ui-btn-up-r span.error, .ui-btn-hover-r span.error {
	color: #cc0000;
	font-weight:bold;
}

.ui-btn-up-r span.valid, .ui-btn-hover-r span.valid {
	color: #09B803;
	font-weight:bold;
}

.ui-form-field {
	border-width: 0;
	margin: 1em 0;
	padding: 0;
}